<section id="avbar-control" v-scope>
    <ol>
        <li>
            <button @click="toggleAudio" type="button">
                <i v-if="canUserShareAudio" class="fa-solid fa-microphone" data-tooltip="{{localize 'WEBRTC.TooltipDisableMyAudio'}}"></i>
                <i v-if="!canUserShareAudio" class="fa-solid fa-microphone-slash" data-tooltip="{{localize 'WEBRTC.TooltipEnableMyAudio'}}"></i>
            </button>
        </li>
        <li>
            <button @click="toggleVideo" type="button">
                <i v-if="canUserShareVideo" class="fa-solid fa-video" data-tooltip="{{localize 'WEBRTC.TooltipEnableMyVideo'}}"></i>
                <i v-if="!canUserShareVideo" class="fa-solid fa-video-slash" data-tooltip="{{localize 'WEBRTC.TooltipDisableMyVideo'}}"></i>
            </button>
        </li>
        <li v-if="canDisconnect">
            <button @click="disconnect" class="button-disconnect" type="button" data-tooltip="LIVEKITAVCLIENT.disconnect">
                <i class="fa-solid fa-phone-slash"></i>
            </button>
        </li>
    </ol>
</section>
