<section id="avbar-control">
    <ol>
        <li>
            <button id="enable-microphone" type="button">
                <i class="fa-solid fa-microphone"></i>
            </button>
        </li>
        <li>
            <button id="enable-video" type="button">
                <i class="fa-solid fa-video"></i>
            </button>
        </li>
        <li>
            <button id="disconnect" type="button">
                <i class="fa-solid fa-phone-slash"></i>
            </button>
        </li>
    </ol>
</section>
